<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.somoplay.eadate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".view.App.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.main.MainActivity_"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.main.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.SignupActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.SearchActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tabme.TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- MeActivities -->
        <activity
            android:name=".view.tabme.MePersonalInfoActivity"
            android:label="@string/title_activity_personal_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tabme.MeEditTextActivity"
            android:label="@string/title_activity_edit_text"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tabme.MeBirthDateActivity"
            android:label="@string/title_activity_birth_date"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tabme.MeListViewActivity"
            android:label="@string/title_activity_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tabme.MeSchoolActivity"
            android:label="@string/title_activity_school"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tabme.MeAddSchoolActivity"
            android:label="@string/title_activity_add_school"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tabme.MeJobActivity"
            android:label="@string/title_activity_job"
            android:screenOrientation="portrait" />
        <!-- MeActivities End -->

        <activity
            android:name=".view.PeopleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.NewActivities.CreateActivities"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.NewActivities.CreateNewActivityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <activity android:name=".view.main.MainMainActivity_"></activity>
    </application>

</manifest>